<!doctype html>
<html lang="en">
  <head>
	<title>Pocci :: Positions</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap5.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.dataTables.min.css">
	<script src="https://kit.fontawesome.com/e4667790a4.js" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="/styles.css">

	<link rel="icon" type="image/png" href="/images/firebase-logo.png">

	<style>
		div.text, div.menu, i.dropdown.icon, div#positions-table_length {
			display: none;
		}

		div.selection {
			width: 200px;
		}
	</style>
  </head>

  <body>

	<div id="wrapper">

		<!-- SIDEBAR -->
		<nav id="sidebar">
			<div class="sidebar-header text-center">
				<div id="sidebar-header-nav bg-dark" style="height: 56px; background-color: #212529;"></div>
				<div class="user-view">
					<div class="background">
						<img src="./firebase-logo.png" class="cover-photo" alt="">
					</div>
				</div>
			</div>
			<ul class="list-unstyled components">
				<span class="text-center">
					<h6>WELCOME,</h6>
					<h5>ADMINISTRATOR</h5>
				</span>
				<hr>
				<li><a href="/"><i class="ml-2 fas fa-tachometer-alt"></i>&nbsp; Dashboard</a></li>
				<li><a href="/users"><i class="ml-2 fas fa-user"></i>&nbsp; User Management</a></li>
				<li><a href="/position" ><i class="fas fa-filter"></i>&nbsp; Positions</a></li>
				<li><a href="/exam-results"><i class="fas fa-question-circle"></i>&nbsp; Exam Results</a></li>
				<li>
					<a class="nav-link" href="#collapseQuestion" id="navbarDropdown" role="button" data-bs-toggle="collapse" aria-controls="collapseQ" aria-expanded="false">
						<i class="ml-2 fas fa-caret-down"></i> &nbsp; Question
					</a>
					<ul class="collapse" id="collapseQuestion" aria-labelledby="navbarDropdown">
						<li class="nav-item"><a class="nav-link" href="/question"><i class="fas fa-minus collapseQuestionIcon"></i> Add Question</a></li>
						<li class="nav-item"><a class="nav-link" href="/view-questions"><i class="fas fa-minus collapseQuestionIcon"></i> View Questions</a></li>
					</ul>
				</li>
			</ul>
		</nav>
		<!-- SIDEBAR END -->
		
		<div id="content">

			<!-- NAVBAR -->
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<div class="container-fluid">
					<button type="button" id="sidebarCollapse" class="navbar-toggler">
						<i class="navbar-toggler-icon"></i>
					</button>
					<a class="navbar-brand" href="#">Pocci Admin Panel</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ms-auto text-end">
							<li class="nav-item">
								<a class="nav-link" aria-current="page" href="#"><i class="fas fa-user-cog"></i> Settings</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<!-- NAVBAR END -->

			<div id="content-body">
				
				<nav id="breadcrumb-path" aria-label="breadcrumb" role="navigation">
					<ol class="breadcrumb text-muted">
						<li class="breadcrumb-item"><a href="/">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page"><a href="#">Positions</a></li>
					</ol>
				</nav>

				<div class="card pmd-card">
					
					<div class="card-body">
						<h2 class="card-title">Positions List</h2>
						<div class="dropdown-divider"></div>

						<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-add-position"><i class="fas fa-plus"></i> Add Position</button>
						<button type="button" data-bs-toggle="modal" data-bs-target="#modal-delete-positions" class="btn btn-danger delete-positions"><i class="fas fa-trash"></i> Delete Positions</button>
			
						<div class="dropdown-divider"></div>
						<table id="positions-table" class="table"></table>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<!-- Delete Positios Modal -->
	<div class="modal fade" id="modal-delete-positions" tabindex="-1" aria-labelledby="modal-add-positionLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Delete Selected Position(s)</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>Delete Selected Position(s)?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary position-confirm-delete">Confirm</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>

		<!-- Toast for Success Delete -->
		<div class="toast-container position-absolute start-50 translate-middle-x">
			<div class="toast align-items-center border-0 bg-dark" id="toast-delete-success" role="alert" aria-live="assertive" aria-atomic="true">
				<div class="d-flex">
					<div class="toast-body text-muted">
						<img src="/firebase-logo.png" alt="" width="25">
						Selected Position(s) Deleted Successfully!
					</div>
					<button class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
				</div>
			</div>
		</div>

		<!-- Toast for Failed Delete -->
		<div class="toast-container position-absolute start-50 translate-middle-x">
			<div class="toast align-items-center border-0 bg-dark" id="toast-delete-fail" role="alert" aria-live="assertive" aria-atomic="true">
				<div class="d-flex">
					<div class="toast-body text-muted">
						<img src="/firebase-logo.png" alt="" width="25">
						Please Select Position(s) To Delete!
					</div>
					<button class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
				</div>
			</div>
		</div>
	</div>

	<!-- Add Position Modal -->
    <div class="modal fade" id="modal-add-position" tabindex="-1" aria-labelledby="modal-add-positionLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add Position</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="form-floating">
						<input type="text" class="form-control" id="position-name" placeholder="Position Name">
						<label for="position-name">Position Name</label>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary add-position-button">Confirm</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>

		<!-- Toast for Success Add-->
		<div class="toast-container position-absolute start-50 translate-middle-x">
			<div class="toast align-items-center border-0 bg-dark" id="toast-add-success" role="alert" aria-live="assertive" aria-atomic="true">
				<div class="d-flex">
					<div class="toast-body text-muted">
						<img src="/firebase-logo.png" alt="" width="25">
						New Position Added Successfully!
					</div>
					<button class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
				</div>
			</div>
		</div>

		<!-- Toast for Failed Add -->
		<div class="toast-container position-absolute start-50 translate-middle-x">
			<div class="toast align-items-center border-0 bg-dark" id="toast-add-fail" role="alert" aria-live="assertive" aria-atomic="true">
				<div class="d-flex">
					<div class="toast-body text-muted">
						<img src="/firebase-logo.png" alt="" width="25">
						Please Enter Position Name!
					</div>
					<button class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
				</div>
			</div>
		</div>
    </div>

	<div class="overlay"></div>
	  
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap5.min.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
	<script src="./jquery.touchSwipe.min.js"></script>

     
     <!-- Firebase scripts -->
	<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-database.js"></script>

	<script src="/firebase.js"></script>

	<script>
		// Initialize DataTable
		var table = $('#positions-table').DataTable({
			createdRow: function(row, data, dataIndex) {
				$(row).addClass('user-row')
			},
			columns: [
				{ title: '<div class="form-check"><input type="checkbox" class="form-check-input" id="select-all-uid"><label class="form-check-label" for="select-all-uid"></label></div>', className: 'position-col'},
				// { title: "<label><input type='checkbox' class='filled-in uid-checkbox'><span></span></label>", className: "position-col" },
				{ title: "Position Name", className: "position-col position-name" }
			]
		})

		// Fetch Positions data from Firebase
		database.ref('/Positions/').on('value', (snapshot) => {
			table.clear()

			snapshot.forEach(function(childSnapshot) {
				var uidCheckbox = '<div class="form-check">' +
							'<input type="checkbox" class="form-check-input uid-checkbox" id="uid-' + childSnapshot.child("ID").val() + '">' +
							'<input type="hidden" name="uid" value="' + childSnapshot.child("ID").val() + '">' +
							'<label class="form-check-label" for="uid-' + childSnapshot.child("ID").val() + '"></label>'

				var position = childSnapshot.child("Position").val()

				var dataSet = [ uidCheckbox, position ]
				table.rows.add([dataSet]).draw()
			})
		})

		// Check/uncheck all checkboxes
		$('#select-all-uid').click(function() {
			$('input:checkbox').not(this).prop('checked', this.checked)
		})

		$('.add-position-button').click(function() {
			let position = $('#position-name').val()

			if (position == '') {
				let myToast = document.getElementById('toast-add-fail')
				let bsToast = new bootstrap.Toast(myToast)
				bsToast.show()
			} else {
				// Create a new ref and log it’s push key
				let newKey = database.ref().child('Positions').push().key

				database.ref().child('/Positions/' + newKey).set({
					ID: newKey,
					Position: position
				})

				let myToast = document.getElementById('toast-add-success')
				let bsToast = new bootstrap.Toast(myToast)
				bsToast.show()

				$('#position_name').val('')
			}
		})

		// Delete selected users
		$('.position-confirm-delete').click(function() {
			var count = 0
			var uids = []

			$('.user-row input:checked').each(function() {
				var uid
				uid = $(this).closest('tr').find('input[name=uid]').val()
				uids.push(uid)

				count++
			})

			if (count > 0) {
				for (var i = 0; i < uids.length; i++) {
					database.ref('/Positions/').child(uids[i]).remove()
				}

				let myToast = document.getElementById('toast-delete-success')
				let bsToast = new bootstrap.Toast(myToast)
				bsToast.show()
			} else {
				let myToast = document.getElementById('toast-delete-fail')
				let bsToast = new bootstrap.Toast(myToast)
				bsToast.show()
			}
		})

	</script>
	<script src="/scripts.js"></script>
  </body>
</html>